#graph{
    position: absolute;
    left: 300px;
    top: 100px;
    bottom: 0;
    right: 0;
}

#side{
    position: fixed;
    left: 0px;
    top: 100px;
    bottom: 0;
    right: 0;
    width: 300px;
    height: auto;
    overflow: auto;
    resize: horizontal;
}

li:hover {
    font-weight: bold;
    cursor: pointer;
}
summary:hover{
    font-weight: bold;
}

#contextmenu {
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 250px;
    height: auto;
    
    #contextmenu li {
        cursor: pointer;
    }
}

#cluster_coloring_index {
    display: none;
}
    
button:active{
    color: white;
    background-color: black;
}

#color_index{
    position: absolute;
    z-index: 10;
}

.color_index{
    position: absolute;
    z-index: 10;
    top: 20%;
    right: 20px;
}

.cluster_color_index{
    position: absolute;
    z-index: 10;
    top: 60%;
    right: 20px;
}

.color_labels .number_row{
    width: 20px;
    text-align: center;
}

.color_labels .color_row{
    width: 40px;
}

.color_labels .generation_param_row{
    width: 140px;
    font-size: 100%;
}

.color_labels .node_size_param_row{
    width: 80px;
}

.palette {
    position: absolute;
    display: none;
    border: 1px solid black;
    padding: 5px;
    background-color: white;
    width: 110px; /* 横幅を指定 */
}

.color {
    width: 20px;
    height: 20px;
    margin: 2px;
    float: left; /* 左寄せにする */
}

#name-plate{
    position: absolute;
    z-index: 30;
    font-size: 25px;
    background-color: #ffe4c4;
}

.hidden_ {
    visibility: hidden;
}

#help_page2 {
    display: none;
}


#help_page3 {
    display: none;
}

.indent1 {
    text-indent: 1rem;
}
.indent2 {
    text-indent: 2rem;
}
ul {
    list-style: none;
  }

.btnGen1{
    color: #a10000;
}

/* グレーにした要素のsummaryに対するスタイル */
.gray details {
    /* ポインターイベントを無効化する */
    pointer-events: none;
  }
  